<!-- Static list of allevents -->
<div class="events">
     <!-- for each event in the events data -->
    <% events_data.forEach((event) => { %>
        <div class="event-row">
            <div class="event">
                <div class="event-date">
                    <div class="event-day"><%= event.startdate %></div>
                    <div class="at-sign">@</div>
                    <div class="event-time"><%= event.starttime %></div>
                </div>
                <div class="event-info">
                    <div class="event-title"><%= event.title %></div>
                    <div class="event-desc">
                        <b>Description:</b> <%= event.description %>
                    </div>
                    <div class="event-location">Group: <%= event.group %>  </div>
                </div>
            </div>

            <% include event_actions.ejs %>
        </div>
            
    <% }); %>

</div>