<%- include ./partials/header.ejs %>

<div class="main-events">

<div class="dashboard">
    <div class="event-header">
        <div class="title">EVENTS SCHEDULE</div>
        <div class="add-event-btn card-small" onclick="openAddModal()"><i class="material-icons">event</i> &nbsp; Add Event</div>
    </div>


<!-- Add to google calendar modal -->
<div id="modal" class="modal">
  <div class="modal-content">
    <h6>You have successfully registered for this event! Would you like to add this to your Google Calendar?</h4>
  </div>
  <div class="modal-footer">
    <button class="modal-close waves-effect waves-green btn-flat" onclick="addEventToCal()">Yes</button>
    <button class="modal-close waves-effect waves-red btn-flat" onclick="closeModal()">No</button>
  </div>
</div>

<%- include ./events/add_or_edit_event_form.ejs %>
<%- include ./events/add_event_form.ejs %>

<!-- embed list of events below -->
<%- include ./events/events_list.ejs %>
    
</div>
</div>

</body>


<script>
    function openModal(index) {
        document.getElementById("modal").style.display = "block";
        selectedIndex = index;
    }
    function openEditModal(index) {
        $("label").addClass('active');
        $('.datepicker').datepicker();
        $('.timepicker').timepicker();
        selectedIndex = index;
        var editModal = document.getElementById("editModal").style.display = "block";
        var event = events[index];
        document.getElementById("event_title").value = event["title"];
        document.getElementById("event_desc").value = event["description"];
        document.getElementById("event_loc").value = event["location"];
        document.getElementById("event_date").value = event["date"];
        document.getElementById("start_time").value = event["start_time"];
        document.getElementById("end_time").value = event["end_time"];
    }
    function openAddModal() {
        var editModal = document.getElementById("editModal").style.display = "block";
        document.getElementById("event_title").value = '';
        document.getElementById("event_desc").value = '';
        document.getElementById("event_loc").value = '';
        document.getElementById("event_date").value = '';
        document.getElementById("start_time").value = '';
        document.getElementById("end_time").value = '';
        selectedIndex = -1;
    }
    function save() {
        closeEditModal();
        if(selectedIndex == -1) {
            return; // add event not edit
        }
        var event = events[selectedIndex];
        event["title"] = document.getElementById("event_title").value;
        event["description"] = document.getElementById("event_desc").value;
        event["location"] = document.getElementById("event_loc").value;
        event["date"] = document.getElementById("event_date").value;
        event["start_time"] = document.getElementById("start_time").value;
        event["end_time"] = document.getElementById("end_time").value;

        document.getElementById(`event_title_${selectedIndex}`).innerHTML = document.getElementById("event_title").value;
        document.getElementById(`event_desc_${selectedIndex}`).innerHTML = document.getElementById("event_desc").value;
        document.getElementById(`event_loc_${selectedIndex}`).innerHTML = document.getElementById("event_loc").value;
        document.getElementById(`event_date_${selectedIndex}`).innerHTML = document.getElementById("event_date").value;
        document.getElementById(`start_time_${selectedIndex}`).innerHTML = document.getElementById("start_time").value;
        document.getElementById(`end_time_${selectedIndex}`).innerHTML = document.getElementById("end_time").value;

    }
    function closeEditModal() {
        document.getElementById("editModal").style.display = "none";
    }
    function closeModal() {
        document.getElementById("modal").style.display = "none";
    }
    function addEventToCal() {
        console.log(events[selectedIndex])
        let url = "https://calendar.google.com/calendar/event?action=TEMPLATE&dates=";
        url += events[selectedIndex]["start"].replaceAll("-","").replaceAll(":","");
        url += "%2F";
        url += events[selectedIndex]["end"].replaceAll("-","").replaceAll(":","");
        url += "&text=";
        url += events[selectedIndex]["title"].replaceAll(" ","+");
        url += "&details=";
        url += events[selectedIndex]["description"].replaceAll(" ","+");
        url += "&location=";
        url += events[selectedIndex]["location"].replaceAll(" ","+");
        window.open(url, '_blank').focus();
        closeModal();
    }

    function saveEvent() {
        document.getElementById("editModal").style.display = "none";
        events[selectedIndex]["title"] = document.getElementById("event_title").value;
        events[selectedIndex]["description"] = document.getElementById("event_desc").value;
        events[selectedIndex]["location"] = document.getElementById("event_loc").value;
    }

    let selectedIndex = 0;

    var events = JSON.parse('<%- JSON.stringify(events_data)%>')

    console.log(events)
    
</script>

<%- include ./partials/footer.ejs %>
