<!-- Static list of allevents -->
<div class="events">
    <script>
    </script>
    <!-- for each event in the events data -->
   <% posts_data.forEach((post, i) => { %>
            <div class="card">
                <div class="post-header">
                    <img class="post-avatar" src="/images/avatar-3.png"/>
                    <div class="post-authour">
                        <div class="post-authour-name"><%= post.authour.first_name %> <%= post.authour.last_name %></div>
                        <div class="post-date"> <%= post.date %> <div style="color: #818181"> &emsp;  <%= post.time %></div></div>
                    </div>
                </div>
                <div class="card-content">
                    <%= post.content %>
                </div>
                <div class="post-footer">
                    <a class="react-container">
                        <i onClick="liking(this)"class="material-icons reactions">favorite</i>
                    </a>
                </div>
                <div class="post-comments">
                    <input type="text" id="myInput" placeholder="Congrats..">
                    <a class="addBtn">
                        <p onClick="newElement(this)" class="material-icons post-add">add</p>
                    </a>
                    
                </div>

                <ul id="1">

                </ul>
            </div>
           
   <% }); %>

   <script>
       function liking(e){
        if (e.style.one!== 2){
            e.style='color:red'
            e.style.one =2
        }
        else{
            e.style='color:black'
            e.style.one =1
        }
       }

       function newElement(e, p){
            var li = document.createElement("li");
            var inputValue = document.getElementById("myInput").value;
            console.log(inputValue)
            var t = document.createTextNode(inputValue);
            li.appendChild(t);
            var text = document.createTextNode("\u00D7");
            document.getElementById("1").appendChild(li)
            document.getElementById("myInput").value = "";
       }
   </script>

</div>